@import './styles/bodyBG.css';
$devRed: red;

h1 {
    /* color: $devRed; */
    color: rgba(#224466, 0.5)
}

ul {
    li:first-child {
        color: $devRed;
        transform: translateX(20px)
    }

    li:last-child {
        color: rebeccapurple;
    }
}